table {
    margin-top: 20px;
    border-collapse: collapse;
    width: 100%;
  }
  
  td {
    border: 1px solid black;
    text-align: left;
    padding: 8px;
  }
  
  tr {
    background-color: #D6EEEE;
  }